
hr{
    border: 2px solid #0368D9;
}

#title-div hr {
    width: 60%;
    border: 1px solid #0368D9;

}

#container{
    width: 100%;
    padding-top: 12em;
}

#form_container{
    float: left;
    width: 30%;
    height: 30%;
}

.name{
    font-family: 'Montserrat', sans-serif;   
}

#title{
    font-size: 350%;
}

#subtitle{
    font-size: 140%;
}

#title-div{
    text-align: center;
    padding: 2.5em 0 2.5em 0;
    float:right;
    height: 100%;
}

#errors{
    color:red;
}